<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

    <header th:replace="~{layout/fragment-header.html :: header-fragment}"></header>

    <div class="container-fluid w-25 content">
        <div class="my-3 py-4"></div>

        <th:block th:replace="~{layout/fragment-message.html :: ft-message}"></th:block>

        <p class="h5 py-3 text-center">Регистрация</p>
        <form method="post" th:action="@{/registration}" th:object="${user}">
            <div class="input-group flex-nowrap mb-3">
                <input type="email" class="form-control" th:field="*{login}" placeholder="Почта" aria-label="Username" required>
            </div>
            <div class="input-group flex-nowrap mb-3">
                <input type="password" class="form-control" th:field="*{password}" id="password" aria-label="Password"
                       placeholder="Пароль" required>
            </div>
            <div class="input-group flex-nowrap mb-3">
                <input type="password" class="form-control" th:field="*{passwordConfirm}" id="passwordConfirm" aria-label="PasswordConfirm"
                       placeholder="Подтвердите пароль" required>
            </div>

            <div class="row">
                <div class="col my-auto">
                    <a th:href="@{/login}">Войти</a>
                </div>
                <div class="col text-end">
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </div>
            </div>
        </form>

    </div>

    <th:block th:replace="~{layout/fragment-footer.html :: footer-fragment}"></th:block>


</body>
</html>