<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error!</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<header th:replace="~{layout/fragment-header.html :: header-fragment}"></header>

<div class="container-fluid">


    <div class="container col-sm-9 content">
        <div class="my-4 py-2">
            <h4>Что-то пошло не так...</h4>

            <div class="ms-5">
                <p th:text="${'Status: ' + status}">Status:</p>
                <p th:text="${'Message: ' + message}">Message:</p>
            </div>


        </div>

    </div>

    <div class="fixed-bottom">
        <th:block th:replace="~{layout/fragment-footer.html :: footer-fragment}"></th:block>
    </div>
</div>
</body>
</html>